<div class="container">
  <div class="content-wrapper">
  <h1>Editing Flat</h1>

  <%= render 'form', flat: @flat %>

  <br>
  <%= link_to 'Back', @flat, class: 'btn btn-outline-light' %>
  </div>
</div>
