<div class="container">
  <div class="content-wrapper simple-form">
    <h2 style="text-align: center;">Add a new <span class="span-model">Colony</span></h2>

    <%= render 'form', flat: @flat, class: 'btn btn-outline-light' %>
    <br>
    <%= link_to 'Back', flats_path, class: 'btn btn-outline-light', style: 'display: block; margin: 0 192px 0 192px;'%>
  </div>
</div>
