<div class="container">
  <div class="content-wrapper">
    <h1>Editing User</h1>

    <%= render 'form', user: current_user %>
    <br>
    <%= link_to 'Back', dashboard_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
