<div class="container">
  <div class="content-wrapper">
    <h1>Editing User</h1>

    <%= render 'form', user: @user %>
    <br>
    <%= link_to 'Back', @user, class: 'btn btn-outline-dark' %>
  </div>
</div>
