.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url(https://source.unsplash.com/random);
  height: 400px;
  width: 100%;
}

.container {
  background-color: #141516;
  color: white;
  margin-top: 30px;
}

.background {
  background-color: #141516;
}

