.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: transparent;
 }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sticky-top {
  position: sticky;
}

.navbar-toggler {
  color: white;
  background: white;
  opacity: 0.6;
}


.dropdown-menu {
  background-color: transparent;
  border: 0.5px solid rgba(255, 255, 255, 0.7);
}

.dropdown-item {
  color: white;

  &:hover{
    background-color: transparent;
    color: white;
    text-decoration: underline;

  }

}
